In [2]:
import dask.dataframe as dd

In [3]:
# Just to make sure it's working...
dd

In [4]:
ytdd = dd.read_csv('*.csv')

In [5]:
# Exploring the data:

ytdd.describe

<bound method _Frame.describe of Dask DataFrame Structure:
              COMMENT_ID  AUTHOR    DATE CONTENT  CLASS
npartitions=5
                  object  object  object  object  int64
                     ...     ...     ...     ...    ...
...                  ...     ...     ...     ...    ...
                     ...     ...     ...     ...    ...
                     ...     ...     ...     ...    ...
Dask Name: from-delayed, 15 tasks>

In [7]:
ytdd.shape

(Delayed('int-84e2497a-7b0c-4917-b691-ae53b5870e68'), 5)

In [9]:
len(ytdd)

1956

In [10]:
ytdd.head()

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [20]:
ytdd.loc[(ytdd["CLASS"] == 1) ]

,COMMENT_ID,AUTHOR,DATE,CONTENT,CLASS
0,LZQPQhLyRh80UYxNuaDWhIGQYNQ96IuCg-AYWqNPjpU,Julius NM,2013-11-07T06:20:48,"Huh, anyway check out this you[tube] channel: ...",1
1,LZQPQhLyRh_C2cTtd9MvFRJedxydaVW-2sNg5Diuo4A,adam riyati,2013-11-07T12:37:15,Hey guys check out my new channel and our firs...,1
2,LZQPQhLyRh9MSZYnf8djyk0gEF9BHDPYrrK-qCczIY8,Evgeny Murashkin,2013-11-08T17:34:21,just for test I have to say murdev.com,1
3,z13jhp0bxqncu512g22wvzkasxmvvzjaz04,ElNino Melendez,2013-11-09T08:28:43,me shaking my sexy ass on my channel enjoy ^_^ ﻿,1
4,z13fwbwp1oujthgqj04chlngpvzmtt3r3dw,GsMega,2013-11-10T16:05:38,watch?v=vtaRGgvGtWQ Check this out .﻿,1

In [33]:
# Find all the comments containing string 'check'

inc_check = ytdd.loc[(ytdd["CONTENT"].str.lower()
                       .str.contains("check"))]
print("Number of comments contianing 'check': {}".format(len(inc_check)))

Number of comments contianing 'check': 480

In [34]:
# Find all spam comments contianing 'check' (CLASS = 1)

spam_check = ytdd.loc[(ytdd["CONTENT"].str.lower()
                       .str.contains("check")) 
                      & (ytdd["CLASS"] == 1)]
print("Number of spam comments contianing 'check': {}".format(len(spam_check)))

Number of spam comments contianing 'check': 461

In [32]:
# Find all non-spam comments containing 'check' (CLASS = 0)

no_spam_check = ytdd.loc[(ytdd["CONTENT"].str.lower()
                       .str.contains("check")) 
                      & (ytdd["CLASS"] == 0)]
print("Number of legit comments contianing 'check': {}".format(len(no_spam_check)))

Number of legit comments contianing 'check': 19

*Big Data*

Big data tends to refer to a dataset that is too large to fit in the main memory of an affordable business computer system. This can mean different things for different businesses, and depends on how critical the data is to the company (generally using the ACID criteria). SQL is is more of a vertically scalable framework, and most horizontally scalable tools are aiming to get as close to it's performance as possible. Spark and Dask are two big data tools that allow us to distribute a dataset horizontally. They provide dataframe formats more complex than pandas and are able to be run over a distributed network of smaller systems. Dask tends to be smaller and lighter than Spark, somewhere between that and pandas. It also provides more features than pandas, but less than spark.